.kix-cursor {
    -webkit-animation-iteration-count: 0 !important; 
}

.CodeMirror-cursor{
    cursorBlinkRate: 0 !important;
    visibility: visible !important;
}

.monaco-editor .cursors-layer .cursor {
    visibility: inherit !important;
}
