.kix-cursor {
    -webkit-animation-iteration-count: 0 !important; 
}

.CodeMirror-cursor{
    cursorBlinkRate: 0 !important;
    visibility: visible !important;
}

.cursor {
    visibility: inherit !important;
}